[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
pandas = "*"
scikit-learn = "*"
tensorflow = "*"
tfds-nightly = "*"
jupyterlab-vim = "*"

[dev-packages]

[requires]
python_version = "3.8"
